@page "/products"

<PageTitle>Produtos</PageTitle>

<h3>Produtos</h3><br />

<ul>
    @foreach (Product product in _products) {
        @* <li>@product.Id</li> *@
        <li>@product.Name</li>
    }
</ul>

@code {
    private List<Product> _products = new();

    protected override async Task OnInitializedAsync() {
        
        await Task.Delay(50);
        
        for (int i = 1; i <= 25; i++) {
            _products.Add(new Product(
                i, $"Produto {i}", $"Descrição {i}", $"img-prod-{i}",
                i * 10, 1)
            );
        }
    }
}
