@page "/products/{skip:int?}"

<PageTitle>Produtos</PageTitle>

<h3>Produtos</h3><br />
<ProductListComponent Skip="@Skip"></ProductListComponent>

@code {
    [Parameter]
    public int Skip { get; set; } = 0;
}
